.hidden {
    display: none;
}

.panel-user-heading {
    cursor: pointer;
}

.user-links .list-group-item{
    overflow: hidden;
}
.panel-user .panel-heading .admin{
    font-weight: bold;
}

.bold-text{
    font-weight: bold;
}