<div data-id="" class="panel panel-default panel-user">

    <div onclick="UserViewModel.toggleBody(this)" class="panel-heading panel-user-heading">
        <div class="row">
            <div class="col-xs-2 col-md-3">
                <img class="card-img-top img-responsive" src="./" alt="Card image cap">
            </div>
            <div class="col-md-4">
                <span class="title"></span>
                <span class="admin"></span>
            </div>
        </div>
    </div>
    <div class="panel-body panel-user-body hidden">
        <p>...</p>
    </div>
</div>