<div data-id="" class="panel panel-default panel-user">

    <div class="panel-heading panel-user-heading">
        <div class="row">
            <div class="col-xs-2 col-md-3">
                <img class="avatar img-responsive" src="./" alt="Card image cap">
            </div>
            <div class="col-md-4">
                <span class="login"></span>
                <span class="admin"></span>
            </div>
        </div>
    </div>
    <div class="panel-body panel-user-body hidden">
        <div class="row">
            <h2 class="page-header text-center">
                <span class="user-name"></span>
                <a class="user-email"></a>
            </h2>
            <div class="user-links row">
                <div class="user-followers-block col-md-4">
                    <h4 class="page-header text-center bold-text">Followers</h4>
                    <div class="follower-links list-group">

                    </div>
                </div>
                <div class="user-followings-block col-md-4">
                    <h4 class="page-header text-center bold-text">Followings</h4>
                    <div class="followings-links list-group">

                    </div>
                </div>
                <div class="user-starred-block col-md-4">
                    <h4 class="page-header text-center bold-text">Starred</h4>
                    <div class="starred-links list-group">

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="user-subscriptions-block col-md-4">
                    <h4 class="page-header text-center bold-text">Subscription</h4>
                    <div class="subscription-links list-group">

                    </div>
                </div>
                <div class="user-organizations-block col-md-4">
                    <h4 class="page-header text-center bold-text">Organization</h4>
                    <div class="organization-links list-group">

                    </div>
                </div>
                <div class="user-repos-block col-md-4">
                    <h4 class="page-header text-center bold-text">Repos</h4>
                    <div class="repos-links list-group">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>